<!DOCTYPE html>
<html>
<head>
<title>whist Rules</title>
</head>
<body>
<p>	The rules of the game are As Follows: <br> 
Each player will be dealt 8 cards in the first hand. Hands will then be 7,6,5...1.  At that point the number of cards
in each hand will increase back to 8.<br>
For the first 8 hands there will be a trump suit.  Cards of the trump suit defeat cards of any other suit regardless of rank,
of course the trump must be playable on that turn (more on this later).  The ascending deals have no trump.<br>
Each player, starting with the one who will place first, will bet how many rounds (someotimes called tricks) of a given deal they will win.  The last player cannot bet the 
number that would make the sum of all bets the number of cards in the round.  This ensures not everyone will hit their bet.<br> 
The round begins with a player placing down a card, and then each other player will one by one also select a card.  If a player has a card
of the suit that was lead with they <em>must</em> play that suit.  If they do not have a card of the lead suit they may play any card in their hand. <br>
The prescedence of cards in winning the round is as follows:</P>
<ol>
<li>Highest played of the trump suit</li>
<li>Highest played of the lead suit</li>
</ol>

<p>As you may notice suits outside of the trump suit and the lead suit may be played if one does not have the lead suit.
However regardless of rank they will not win the round.<br>
The player who wins once each has played will place first in the following round and this process continues untill the hand is exhausted.
When this occurs players will recieve points in the following fashion:
<ul>
<li>1 point for each trick (round) of the hand won</li>
<li>10 points for winning the number they bet</li>
</ul>
</p>
</body>
</html>